#square{
    width: 120px;
    height: 120px;
    background-color: white;
}
#round{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
}
#diamond{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(255, 255, 255);
}
#triangle{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#arrow{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
#frame{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%); 
}
#star{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
#cross{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
#left-point{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}
#right-point{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
#parallel{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
#chiSquare{
    width: 120px;
    height: 120px;
    background-color: white;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}